body {
   font-family: 'Merriweather', serif; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

h1 {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 42%;
    width: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    font-size: 63px;
    letter-spacing: 3px;
    position: fixed;
}

h2 {
   left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    position: fixed;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 17px;
    padding: 14px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}

a {
   transition: 250ms;
}

a:link {
   color: black;
}

a:visited {
   color: black;
}

a:hover {
   background-color: black;
   color: white;
}

h3 {
   text-align: center;
   color: white;
   letter-spacing: 4px;
   font-size: 40px;
}

img {
    border-radius: 25px;
    display: block;
    margin: auto;
    width: 40%;
    opacity: 0.9;
}
